<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>WHATSAPP NÚMERO</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Voltar', loja_itens_path %>
      </li> 
      <li class="active">
        <strong>Editando Número</strong>
      </li>
    </ol>
  </div>
</div>

<%= render 'form' %>