<div class="panel panel-default" style="margin-bottom: 10px !important;">
  <div class="panel-heading">
    Média de Notas por Setor
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12 padding-left-right">
      <div class="ibox-content padding-5">
        <div id="media_nota_setores" style="height: 290px !important;"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function drawChartMediaSetores() {
        $.getJSON("/satisfacao_gruber/media_setores?data_inicial="+ $('#data_inicio').val() + "&data_final="+ $('#data_fim').val(), function(data)
        {
            var colors = ["#b87333", "silver", "gold", "#363636", "#000080", "#6495ED", "#4682B4", "#7FFFD4", "#00FF00", "#8B4513", "#F5DEB3", "#9400D3", "#DA70D6", "#F08080", "#FF8C00"];

            var dataArray = [
                ['Setor', 'Média Nota', {type: 'string', role: 'annotation'}, { role: "style" }],
            ];

            if(data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    var row2 = [data[i].nome_setor, parseFloat(data[i].nota), parseFloat(data[i].nota), colors[i]];
                    dataArray.push(row2);
                }
            }else{
                var row = ["Sem informações", parseFloat("0"), parseFloat("0"), colors[0]];
                dataArray.push(row);
            }

            var options = {
                'chartArea': {'width': '80%', 'height': '60%'},
                seriesType: 'bars',
                isStacked: true,
                legend: {position: 'none'},
                vAxis: {title: 'Nota'},
                hAxis: {title: 'Equipes', textStyle: {fontSize: 9}},
                animation: { easing: 'inAndOut', duration: 500, startup: true, displayLegendValues: false}
            };

            var chart = new google.visualization.ComboChart(document.getElementById('media_nota_setores'));
            var data = google.visualization.arrayToDataTable(dataArray);
            chart.draw(data, options);
            view = new google.visualization.DataView(data);
            chart.draw(view, options);

        });
    }



</script>

