<div id="cnaes_cliente" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Cnaes</h4>
      </div>
      <div class="modal-body">
      <table id="table-cnae-cliente" class="table table-hover">
        <thead>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
          <th>Blacklist</th>
          <th></th>
        </tr>
        </thead>
        <tbody id="body-table-cnaes-cliente">

        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>

