<div id="modal_nova_tag_desistencia" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Novo motivo desistência</h4>
      </div>
      <form class="form-horizontal" id="form_comentario">
        <div class="modal-body">
          <div class="form-group">
            <div class="field">
              <div class="col-sm-12">
                <label id="error_descricao" style="color: red; display: none;">Informe o motivo!</label>
                <textarea autocomplete="off" class="form-control" name="descricao" id="text_descricao"></textarea>               
              </div>
            </div>
          </div>       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
          <%= submit_tag 'Salvar', :id => 'btnSalvarNovaTag', :class => 'btn btn-info' %>
        </div>
      </form>
    </div>
  </div>
</div>


