<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>SERVIÇO</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'servicos', :action => 'index' %>">Back</a>
      </li> 
      <li class="active">
        <strong>Editando Serviço</strong>
      </li>
    </ol>
  </div>
</div>

<%= render 'form' %>

