<div id="modal_motivo" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Motivo</h4>
      </div>
      <form class="form-horizontal" id="form_motivo">
        <div class="modal-body">
          <div class="form-group">
            <div class="field">
              <div class="col-sm-12">
                <label id="error_motivo" style="color: red; display: none;">Informe o motivo!</label>
                <textarea autocomplete="off" class="form-control" name="motivo" id="text_motivo"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group" id="comentario_data_retorno" style="display: none">
            <div class="col-sm-12 no-padding">
              <div class="field">
                <div class="col-sm-6">
                  <label id="data_retorno_comentario">Data Retorno</label>
                  <div class="input-group clockpicker" data-autoclose="true">
                    <%= text_field_tag 'retorno[data_retorno]', nil,  class: 'form-control input-sm', autocomplete: "off", placeholder: 'DD/MM/YYYY HH:mm' %>
                    <span class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 no-padding" style="margin-top: 5px">
              <div class="form-group margin">
                <div class="pull-center">
                  <button class="btn btn-primary btn-xs" id="btn10" onclick="setarData(10, $('#modal_motivo #retorno_data_retorno')); return false;">10min</button>
                  <button class="btn btn-primary btn-xs" id="btn20" onclick="setarData(20, $('#modal_motivo #retorno_data_retorno')); return false;">20min</button>
                  <button class="btn btn-primary btn-xs" id="btn30" onclick="setarData(30, $('#modal_motivo #retorno_data_retorno')); return false;">30min</button>
                  <button class="btn btn-primary btn-xs" id="btn45" onclick="setarData(45, $('#modal_motivo #retorno_data_retorno')); return false;">45min</button>
                  <button class="btn btn-primary btn-xs" id="btn1" onclick="setarData(60, $('#modal_motivo #retorno_data_retorno')); return false;">1hora</button>
                  <button class="btn btn-primary btn-xs" id="btn2" onclick="setarData(120, $('#modal_motivo #retorno_data_retorno')); return false;">2horas</button>
                  <button class="btn btn-primary btn-xs" id="btn4" onclick="setarData(240, $('#modal_motivo #retorno_data_retorno')); return false;">4horas</button>
                  <button class="btn btn-primary btn-xs" id="btn24" onclick="setarData(1440, $('#modal_motivo #retorno_data_retorno')); return false;">24horas</button>
                  <button class="btn btn-primary btn-xs" id="btn48" onclick="setarData(2880, $('#modal_motivo #retorno_data_retorno')); return false;">48horas</button>
                  <button class="btn btn-primary btn-xs" id="btn72" onclick="setarData(4320, $('#modal_motivo #retorno_data_retorno')); return false;">72horas</button>
                </div></div>
            </div></div>
          <div class="form-group">
            <div class="field">
              <div class="col-sm-12">
                <label for="usuario_id">Responsável</label>
                <%= select_tag 'usuario_id', options_for_select(User.empresas_acesso(current_empresa.id).collect {|p| [ p.name, p.id ] }, current_user.id), {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um responsável'}} %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal" id="btnFechar">Fechar</button>
          <%= submit_tag 'Salvar', :id => 'btnCancelarAgenda',  :class => 'btn btn-info ladda-button' %>
        </div>
      </form>
    </div>
  </div>
</div>


