<div id="modal_nao_perturbe" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modo não perturbe</h4>
      </div>      
        <div class="modal-body">
          <div class="form-group margin">
            <div class="pull-center">
              <%= button_tag '10 min', :id => 'nao_perturbe_10m', :class => 'btn btn-primary' %>
              <%= button_tag '20 min', :id => 'nao_perturbe_20m', :class => 'btn btn-primary' %>
              <%= button_tag '30 min', :id => 'nao_perturbe_30m', :class => 'btn btn-primary' %>
            </div>
          </div>          
        </div>        
    </div>
  </div>
</div>


