<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>SETORES</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'setores', :action => 'index' %>">Back</a>
      </li> 
      <li class="active">
        <strong>Editando Setor</strong>
      </li>
    </ol>
  </div>
</div>

<%= render 'form' %>

