<div style="margin-top: 30px; border-style: solid none none none; border-color: #e7eaec; border-width: 1px;">
  <div style="display: flex; margin-top: 15px; justify-content: space-evenly;">
    <div class="row" style="text-align: center">
      <h3>Demonstrações por Estado</h3>
      <div style="display: flex;">
        <div class="ibox-content" style="border-style: none;">
          <div id="tableDemonstracaoEstado" class="col-lg-12 padding"></div>
        </div>
      </div>
    </div>
    <div class="row" style="width: auto; text-align: center;">
      <h3>Demonstrações por Solicitante</h3>
      <div style="display: flex;">
        <div class="ibox-content" style="border-style: none;">
          <div id="tableDemonstracaoSolicitante" class="col-lg-12 padding"></div>
        </div>
      </div>
    </div>
    <div class="row" style="width: auto; text-align: center; display: flex; flex-direction: column; align-items: center;">
      <div class="row" style="width: auto; justify-content: center;">
        <h3 style="padding-left: 20px;">Controle numeros whatsapp</h3>
        <div class="ibox-content" style="border-style: none;">
          <div id="tableNumeros" class="col-lg-12 padding"></div>
        </div>
      </div>
      <div class="row" style="width: auto; text-align: center;">
        <h3>Empresas do simples nacional</h3>
        <div style="display: flex;">
          <div class="ibox-content" style="border-style: none;">
            <div id="tableSimplesNacional" class="col-lg-12 padding"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div style="display: flex; border-style: solid none solid none;border-color: #e7eaec;border-width: 1px;text-align: center;">
    <div class="row" style="width: auto; margin-top: 15px; border-style: none solid none none; border-color: #e7eaec; border-width: 1px; text-align: center">
      <h3>Totalizador de Estados</h3>
      <div style="display: flex;">
        <div class="ibox-content" style="border-style: none; margin-top: 2rem">
          <div id="tableEstados" class="col-lg-12 padding"></div>
        </div>
        <div id="pie_chart_estados" style="max-height: 390px; min-height: 316px;"></div>
      </div>
    </div>
    <div class="row" style="width: auto; margin-left: 15px; margin-top: 15px; text-align: center;">
      <h3 style="padding-left: 15px; text-align: left;" >Totalizador de Usuarios</h3>
      <div style="display: flex;">
        <div class="ibox-content" style="border-style: none; margin-top: 1rem">
          <div id="tableUsuarios" class="col-lg-12 padding"></div>
        </div>
        <div id="pie_chart_usuarios" style="max-height: 330px !important; min-height: 330px !important;" ></div>
      </div>
      <h3 style="padding-left: 15px; text-align: left;" >Números ativos por pessoa</h3>
      <div style="display: flex;">
        <div class="ibox-content" style="border-style: none; margin-top: 1rem">
          <div id="tableNumerosAtivos" class="col-lg-12 padding"></div>
        </div>
        <div id="pie_chart_numeros_ativos" style="max-height: 330px !important; min-height: 330px !important;" ></div>
      </div>
    </div>
  </div>
<div>
