// Place all the styles related to the campanhas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require qtip/jquery.qtip.min.css
//= require jquery-ui/jquery-ui.min.css
//= require chosen/bootstrap-chosen.css
//= require datapicker/datepicker3.css
//= require iCheck/custom.css

.table-fixed {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-tbody-scroll {
  display: block;
  overflow: auto;
  table-layout: fixed;
  max-height: 160px;
}
/* Estilo para a caixa de informações */
.tooltip-box {
  position: absolute;
  max-width: 380px;
  height: 200px;
  background-color: #FFFFFF;
  border: 1px solid #000000 !important;
  border-radius: 10px !important;
  padding: 10px;
  z-index: 2051;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}