//= require morris/morris-0.4.3.min.css
//= require c3/c3.min.css
//= require chartist/chartist.min.css
//= require datapicker/datepicker3.css
//= require chosen/bootstrap-chosen.css
//= require iCheck/custom.css

.padding-left-right{
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.padding-left-right-0{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.ibox{
  margin-bottom: 10px !important;
}

.iboxImplantacao{
  cursor: pointer;
}