//= require sweetalert/sweetalert2.min.css
//= require datapicker/datepicker3.css
//= require jasny/jasny-bootstrap.min.css
//= require chosen/bootstrap-chosen.css

.progress{
  border: 1px solid #e7eaec !important;
}

.message{
  border: 0px solid #e7eaec !important;
  padding: 10px 0px !important;
}

