<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Olá, <%= @user %></h4>
    <p>
      Sua solicitação de cancelamento do cliente <%= @empresa %>, CNPJ <%= @cnpj %> foi enviada com sucesso!
      <br>
    </p>
    <p>Tenha um ótimo dia!</p>
    <br><br>
    <div>
      <img alt="image" style="width: 300px; padding-bottom: 20px; padding-top: 30px" src="https://s3-sa-east-1.amazonaws.com/files.gtech.site/www/assets/logo_gtech.png"/>
    </div>    
    
  </body>
</html>